# .DS_Store
# .idea
# idea/*
# .vscode
# .*.sublime*
# npm-debug.*





# dist /
# node_modules/
# package-lock.json
# app/css/*


.DS_Store
.idea
idea/*
.vscode
.*.sublime*
npm-debug.*
dist/
node_modules/
package-lock.json
app/css/*.scss
!app/images/src/1.png